.community-cta-wrapper {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;

  position: fixed;
  bottom: -138px;
  right: 3%;
  transition: bottom 300ms ease-in;
  z-index: 10;

  box-shadow: 0 1px 10px 0 #888;

  &:hover {
    box-shadow: 0 1px 10px 0 #777;
  }

  &.open {
    bottom: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      margin-bottom: 0;

      a {
        display: block;
        padding: 7px 12px;
        text-decoration: unset;
        color: black;
        background: #f7f7f7;
        font-size: 12px;
        line-height: 20px;

        &:hover {
          background: #dbf2ff;
          text-decoration: none;
        }
        > i {
          font-size: 14px;
          margin-right: 5px;
        }
      }
    }
  }
}

.cta-button {
  padding: 10px 22px;
  font-size: 14px;
  background: #29b1ff;
  color: white;
  text-decoration: none;
  display: inline-block;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  &:hover, &:focus {
    text-decoration: none;
    color: white;
    background: #10a8ff;
  }
}
